body {
    font-family: 'Trajan Pro', sans-serif;
}

@font-face {
    font-family: "Trajan Pro";
    src: url('./fonts/trajan-pro/Trajan\ Pro.ttf') format('truetype');
}

h1 {
    width: 600px;
    background-color: #3F51B5;
    border: 8px solid #FFC107;
    padding: 16px;
    margin: 16px auto;
    text-align: center;
    font-weight: bold;
}

li {
    color: hsl(0, 58%, 40%);
}