body {
    width: 700px;
    font-family: 'Trajan Pro', sans-serif;
    background-image: url("images/odin-recipes.png");
    background-size: cover;
    margin: auto;
}

@font-face {
    font-family: "Trajan Pro";
    src: url('./fonts/trajan-pro/Trajan\ Pro.ttf') format('truetype');
}

h1 {
    width: 600px;
    color: #FFFFFF;
    background-color: #303F9F;
    border: 8px solid #FF4081;
    padding: 16px;
    margin: 16px auto;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    width: 300px;
    margin: 16px auto;
    background-color: #303F9F;
    text-align: center;
}

ul {
    background-color: #FFA000;
    border: 8px solid #FF4081;
    width: 200px;
    margin: auto;
}

li {
    text-align: center;
    margin: 8px;
}